## PROJECT

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz0111', api_key='EkmPvnKrZSsK9wycPPbE')

In [2]:
import plotly.offline as offline

In [3]:
%matplotlib inline

## Read Files

In [4]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison






## This show the shape of the data ,Its shows that we have  17 Columns and 1350342 Rows in the Data Frame. and also shows the name of columns present in it.

In [5]:
df.shape , df.columns

((1365678, 20),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours', 'wom'],
       dtype='object'))

In [6]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours,wom
0,2017-04-01 00:03:42,2017-04-01,00:03:42,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,1500.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,1500.00,1,4,Saturday,0,0
1,2017-04-01 00:04:20,2017-04-01,00:04:20,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,500.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,500.00,1,4,Saturday,0,0
2,2017-04-01 00:04:24,2017-04-01,00:04:24,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,3000.0,0.00,15.00,0.0,0.00,Lahore,CAPTURED,15.00,2985.00,1,4,Saturday,0,0
3,2017-04-01 00:05:25,2017-04-01,00:05:25,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,15000.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,15000.00,1,4,Saturday,0,0
4,2017-04-01 00:05:30,2017-04-01,00:05:30,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,17000.0,0.00,15.00,0.0,0.00,Lahore,CAPTURED,15.00,16985.00,1,4,Saturday,0,0
5,2017-04-01 00:15:15,2017-04-01,00:15:15,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal,20000.0,0.00,15.00,0.0,0.00,Islamabad,CAPTURED,15.00,19985.00,1,4,Saturday,0,0
6,2017-04-01 00:16:36,2017-04-01,00:16:36,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal,20000.0,0.00,15.00,0.0,0.00,Islamabad,CAPTURED,15.00,19985.00,1,4,Saturday,0,0
7,2017-04-01 00:21:03,2017-04-01,00:21:03,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,2000.0,0.00,15.00,0.0,0.00,Bahawalpur,CAPTURED,15.00,1985.00,1,4,Saturday,0,0
8,2017-04-01 00:21:17,2017-04-01,00:21:17,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal OnUs,500.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,500.00,1,4,Saturday,0,0
9,2017-04-01 00:23:54,2017-04-01,00:23:54,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,3000.0,0.00,0.00,0.0,0.00,Lahore,CAPTURED,0.00,3000.00,1,4,Saturday,0,0
10,2017-04-01 00:25:24,2017-04-01,00:25:24,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal,2000.0,0.00,15.00,0.0,0.00,Gujrat,CAPTURED,15.00,1985.00,1,4,Saturday,0,0
11,2017-04-01 00:25:51,2017-04-01,00:25:51,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,3000.0,0.00,0.00,0.0,0.00,Lahore,CAPTURED,0.00,3000.00,1,4,Saturday,0,0
12,2017-04-01 00:40:28,2017-04-01,00:40:28,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,10000.0,0.00,15.00,0.0,0.00,Hyderabad,CAPTURED,15.00,9985.00,1,4,Saturday,0,0
13,2017-04-01 00:41:31,2017-04-01,00:41:31,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,9500.0,0.00,15.00,0.0,0.00,Hyderabad,CAPTURED,15.00,9485.00,1,4,Saturday,0,0
14,2017-04-01 00:43:12,2017-04-01,00:43:12,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,3000.0,0.00,0.00,0.0,0.00,Islamabad,CAPTURED,0.00,3000.00,1,4,Saturday,0,0
15,2017-04-01 00:46:31,2017-04-01,00:46:31,Internal,ROLE_AGENT_CHILD,ATM Cash Withdrawal,20000.0,0.00,15.00,0.0,0.00,Karachi,CAPTURED,15.00,19985.00,1,4,Saturday,0,0
16,2017-04-01 00:56:27,2017-04-01,00:56:27,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,1000.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,1000.00,1,4,Saturday,0,0
17,2017-04-01 00:57:55,2017-04-01,00:57:55,Internal,ROLE_CUSTOMER_L0,IBFT Host,800.0,0.00,0.00,0.0,0.00,,CAPTURED,0.00,800.00,1,4,Saturday,0,0
18,2017-04-01 01:21:59,2017-04-01,01:21:59,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,2000.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,2000.00,1,4,Saturday,1,0
19,2017-04-01 01:25:47,2017-04-01,01:25:47,Internal,ROLE_CUSTOMER_L1,IBFT Host,10500.0,0.00,0.00,0.0,0.00,,CAPTURED,0.00,10500.00,1,4,Saturday,1,0
20,2017-04-01 01:28:58,2017-04-01,01:28:58,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,4000.0,0.00,0.00,0.0,0.00,Lahore,CAPTURED,0.00,4000.00,1,4,Saturday,1,0
21,2017-04-01 01:33:56,2017-04-01,01:33:56,Internal,ROLE_CUSTOMER_L1,IBFT Host,50.0,0.00,0.00,0.0,0.00,,CAPTURED,0.00,50.00,1,4,Saturday,1,0
22,2017-04-01 01:35:05,2017-04-01,01:35:05,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,2000.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,2000.00,1,4,Saturday,1,0
23,2017-04-01 01:45:31,2017-04-01,01:45:31,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,1000.0,0.00,0.00,0.0,0.00,Rawalpindi,CAPTURED,0.00,1000.00,1,4,Saturday,1,0
24,2017-04-01 01:52:22,2017-04-01,01:52:22,Internal,ROLE_AGENT_CHILD,ATM Cash Withdrawal,9000.0,0.00,15.00,0.0,0.00,Shahdadpur,CAPTURED,15.00,8985.00,1,4,Saturday,1,0
25,2017-04-01 02:15:04,2017-04-01,02:15:04,Internal,ROLE_CUSTOMER_L0,ATM Cash Withdrawal,5000.0,0.00,15.00,0.0,0.00,Karachi,CAPTURED,15.00,4985.00,1,4,Saturday,2,0
26,2017-04-01 04:22:48,2017-04-01,04:22:48,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal,5000.0,0.00,15.00,0.0,0.00,Islamabad,CAPTURED,15.00,4985.00,1,4,Saturday,4,0
27,2017-04-01 05:30:47,2017-04-01,05:30:47,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,5000.0,0.00,0.00,0.0,0.00,Karachi,CAPTURED,0.00,5000.00,1,4,Saturday,5,0
28,2017-04-01 09:17:54,2017-04-01,09:17:54,WEB (Internet),ROLE_AGENT_SPECIAL_SO,OTC Bill Payment,1050.0,0.00,0.00,0.0,0.00,Rahim-Yar-Khan,CAPTURED,0.00,1050.00,1,4,Saturday,9,0
29,2017-04-01 00:00:22,2017-04-01,00:00:22,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3957.0,0.00,0.00,4.0,0.60,Gujrat,CAPTURED,4.60,3952.40,1,4,Saturday,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365648,2017-09-30 21:11:47,2017-09-30,21:11:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1588.0,0.00,0.00,4.0,0.58,Sargodha,CAPTURED,4.58,1583.42,30,9,Saturday,21,4
1365649,2017-09-30 21:12:43,2017-09-30,21:12:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,410.0,0.00,0.00,4.0,0.60,Attock,CAPTURED,4.60,405.40,30,9,Saturday,21,4
1365650,2017-09-30 21:14:03,2017-09-30,21:14:03,USSD,ROLE_AGENT_CHILD,IBFT Channel,25000.0,8.00,50.00,0.0,0.00,Haripur,CAPTURED,58.00,24942.00,30,9,Saturday,21,4
1365651,2017-09-30 21:14:56,2017-09-30,21:14:56,USSD,ROLE_CUSTOMER_L0,IBFT Channel,1300.0,8.00,50.00,0.0,0.00,Indus Highway,CAPTURED,58.00,1242.00,30,9,Saturday,21,4
1365652,2017-09-30 21:31:31,2017-09-30,21:31:31,USSD,ROLE_AGENT_CHILD,IBFT Channel,4950.0,8.00,50.00,0.0,0.00,Gujranwala,CAPTURED,58.00,4892.00,30,9,Saturday,21,4
1365653,2017-09-30 21:45:05,2017-09-30,21:45:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,220.0,0.00,0.00,4.0,0.60,Rawalpindi,CAPTURED,4.60,215.40,30,9,Saturday,21,4
1365654,2017-09-30 21:52:36,2017-09-30,21:52:36,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1110.0,0.00,0.00,4.0,0.60,Attock,CAPTURED,4.60,1105.40,30,9,Saturday,21,4
1365655,2017-09-30 21:57:08,2017-09-30,21:57:08,USSD,ROLE_AGENT_CHILD,IBFT Channel,1000.0,8.00,50.00,0.0,0.00,Rawalpindi,CAPTURED,58.00,942.00,30,9,Saturday,21,4
1365656,2017-09-30 21:57:47,2017-09-30,21:57:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,457.0,0.00,0.00,4.0,0.60,Rawalpindi,CAPTURED,4.60,452.40,30,9,Saturday,21,4
1365657,2017-09-30 21:58:49,2017-09-30,21:58:49,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1224.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,1219.40,30,9,Saturday,21,4
1365658,2017-09-30 21:59:28,2017-09-30,21:59:28,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1423.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,1418.40,30,9,Saturday,21,4
1365659,2017-09-30 22:00:17,2017-09-30,22:00:17,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,1367.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,1362.40,30,9,Saturday,22,4
1365660,2017-09-30 22:01:03,2017-09-30,22:01:03,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,4914.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,4909.40,30,9,Saturday,22,4
1365661,2017-09-30 22:01:56,2017-09-30,22:01:56,USSD,ROLE_CUSTOMER_L1,IBFT Channel,22000.0,8.00,50.00,0.0,0.00,Khuzdar,CAPTURED,58.00,21942.00,30,9,Saturday,22,4
1365662,2017-09-30 22:02:09,2017-09-30,22:02:09,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3206.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,3201.40,30,9,Saturday,22,4
1365663,2017-09-30 22:03:30,2017-09-30,22:03:30,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,330.0,0.00,0.00,4.0,0.60,Karachi,CAPTURED,4.60,325.40,30,9,Saturday,22,4
1365664,2017-09-30 22:03:47,2017-09-30,22:03:47,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,681.0,0.00,0.00,4.0,0.60,Chakwal,CAPTURED,4.60,676.40,30,9,Saturday,22,4
1365665,2017-09-30 22:07:15,2017-09-30,22:07:15,USSD,ROLE_AGENT_CHILD,IBFT Channel,15000.0,8.00,50.00,0.0,0.00,Sahiwal,CAPTURED,58.00,14942.00,30,9,Saturday,22,4
1365666,2017-09-30 22:16:38,2017-09-30,22:16:38,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,3178.0,0.00,0.00,4.0,0.60,Narowal,CAPTURED,4.60,3173.40,30,9,Saturday,22,4
1365667,2017-09-30 22:21:07,2017-09-30,22:21:07,USSD,ROLE_CUSTOMER_L2,IBFT Channel,3500.0,8.00,50.00,0.0,0.00,Gujrat,CAPTURED,58.00,3442.00,30,9,Saturday,22,4
1365668,2017-09-30 22:23:23,2017-09-30,22:23:23,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,210.0,0.00,0.00,4.0,0.60,Karachi,CAPTURED,4.60,205.40,30,9,Saturday,22,4
1365669,2017-09-30 22:29:37,2017-09-30,22:29:37,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,1000.0,0.00,15.00,0.0,0.00,Bahawalnagar,CAPTURED,15.00,985.00,30,9,Saturday,22,4
1365670,2017-09-30 22:30:33,2017-09-30,22:30:33,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,500.0,0.00,15.00,0.0,0.00,Kharan,CAPTURED,15.00,485.00,30,9,Saturday,22,4
1365671,2017-09-30 23:23:10,2017-09-30,23:23:10,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,7000.0,0.00,15.00,0.0,0.00,Lahore,CAPTURED,15.00,6985.00,30,9,Saturday,23,4
1365672,2017-09-30 23:30:21,2017-09-30,23:30:21,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,1000.0,0.00,15.00,0.0,0.00,Sialkot,CAPTURED,15.00,985.00,30,9,Saturday,23,4
1365673,2017-09-30 22:37:30,2017-09-30,22:37:30,USSD,ROLE_AGENT_CHILD,IBFT Channel,10000.0,8.00,50.00,0.0,0.00,Daska,CAPTURED,58.00,9942.00,30,9,Saturday,22,4
1365674,2017-09-30 22:47:48,2017-09-30,22:47:48,USSD,ROLE_AGENT_CHILD,IBFT Channel,9850.0,8.00,50.00,0.0,0.00,Jhang,CAPTURED,58.00,9792.00,30,9,Saturday,22,4
1365675,2017-09-30 22:58:26,2017-09-30,22:58:26,USSD,ROLE_AGENT_CHILD,IBFT Channel,9942.0,6.67,51.33,0.0,0.00,Karachi,CAPTURED,58.00,9884.00,30,9,Saturday,22,4
1365676,2017-09-30 23:07:43,2017-09-30,23:07:43,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,190.0,0.00,0.00,4.0,0.60,Hyderabad,CAPTURED,4.60,185.40,30,9,Saturday,23,4
1365677,2017-09-30 23:08:05,2017-09-30,23:08:05,USSD,ROLE_AGENT_CHILD,OTC Bill Payment,2222.0,0.00,0.00,4.0,0.58,Kasur,CAPTURED,4.58,2217.42,30,9,Saturday,23,4

## Sort All the Data.
##  Ist of all we choose CHANNEL = 'USSD' and TRANSACTION_TYPE == 'OTC Receive Money'.

In [6]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Receive Money')])

In [8]:
df.shape

(177645, 20)

In [9]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours,wom
37,2017-04-01 00:04:50,2017-04-01,00:04:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Karachi,CAPTURED,57.50,4942.50,1,4,Saturday,0,0
38,2017-04-01 00:05:10,2017-04-01,00:05:10,USSD,ROLE_AGENT_CHILD,OTC Receive Money,700.0,0.0,0.0,12.5,1.88,Hyderabad,CAPTURED,14.38,685.62,1,4,Saturday,0,0
63,2017-04-01 00:39:50,2017-04-01,00:39:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Karachi,CAPTURED,43.13,2956.87,1,4,Saturday,0,0
81,2017-04-01 01:22:48,2017-04-01,01:22:48,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14885.00,1,4,Saturday,1,0
120,2017-04-01 06:51:28,2017-04-01,06:51:28,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,5.63,Gujranwala,CAPTURED,43.13,3956.87,1,4,Saturday,6,0
158,2017-04-01 07:16:58,2017-04-01,07:16:58,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Jhang,CAPTURED,43.13,2956.87,1,4,Saturday,7,0
159,2017-04-01 07:17:21,2017-04-01,07:17:21,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.88,Bahawalnagar,CAPTURED,14.38,985.62,1,4,Saturday,7,0
166,2017-04-01 07:40:53,2017-04-01,07:40:53,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1500.0,0.0,0.0,25.0,3.75,Bannu,CAPTURED,28.75,1471.25,1,4,Saturday,7,0
167,2017-04-01 07:42:09,2017-04-01,07:42:09,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Kot-Addu,CAPTURED,28.75,1971.25,1,4,Saturday,7,0
168,2017-04-01 07:42:54,2017-04-01,07:42:54,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.80,Wazirabad,CAPTURED,14.30,985.70,1,4,Saturday,7,0
176,2017-04-01 07:59:22,2017-04-01,07:59:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Fort-Abbas,CAPTURED,57.50,4942.50,1,4,Saturday,7,0
185,2017-04-01 08:04:19,2017-04-01,08:04:19,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Kohat,CAPTURED,28.75,1971.25,1,4,Saturday,8,0
190,2017-04-01 08:05:52,2017-04-01,08:05:52,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Khurrianwala,CAPTURED,14.38,925.62,1,4,Saturday,8,0
194,2017-04-01 08:06:42,2017-04-01,08:06:42,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Vehari,CAPTURED,14.38,925.62,1,4,Saturday,8,0
199,2017-04-01 07:50:11,2017-04-01,07:50:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Peshawar,CAPTURED,43.13,2956.87,1,4,Saturday,7,0
206,2017-04-01 07:56:29,2017-04-01,07:56:29,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Lakki-Marwat,CAPTURED,43.13,2956.87,1,4,Saturday,7,0
208,2017-04-01 07:57:15,2017-04-01,07:57:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,3.75,Rajanpur,CAPTURED,28.75,2351.25,1,4,Saturday,7,0
210,2017-04-01 08:06:59,2017-04-01,08:06:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,500.0,0.0,0.0,12.5,1.88,Lahore,CAPTURED,14.38,485.62,1,4,Saturday,8,0
213,2017-04-01 08:07:57,2017-04-01,08:07:57,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2500.0,0.0,0.0,25.0,3.75,Jaranwala,CAPTURED,28.75,2471.25,1,4,Saturday,8,0
221,2017-04-01 08:10:07,2017-04-01,08:10:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Kalat,CAPTURED,43.13,2956.87,1,4,Saturday,8,0
223,2017-04-01 08:10:34,2017-04-01,08:10:34,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.20,Peshawar,CAPTURED,57.20,4942.80,1,4,Saturday,8,0
235,2017-04-01 08:15:35,2017-04-01,08:15:35,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2820.0,0.0,0.0,37.5,5.63,Multan,CAPTURED,43.13,2776.87,1,4,Saturday,8,0
237,2017-04-01 08:17:18,2017-04-01,08:17:18,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,10.80,Shakrghar,CAPTURED,85.80,9914.20,1,4,Saturday,8,0
238,2017-04-01 08:17:30,2017-04-01,08:17:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Moro,CAPTURED,14.38,925.62,1,4,Saturday,8,0
240,2017-04-01 08:18:47,2017-04-01,08:18:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,11.25,Karak,CAPTURED,86.25,9913.75,1,4,Saturday,8,0
243,2017-04-01 08:19:31,2017-04-01,08:19:31,USSD,ROLE_AGENT_CHILD,OTC Receive Money,11000.0,0.0,0.0,87.5,13.13,Sargodha,CAPTURED,100.63,10899.37,1,4,Saturday,8,0
245,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,12000.0,0.0,0.0,87.5,10.50,Bajour,CAPTURED,98.00,11902.00,1,4,Saturday,8,0
246,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,11.25,Mandi-Bahauddin,CAPTURED,86.25,9913.75,1,4,Saturday,8,0
249,2017-04-01 08:21:49,2017-04-01,08:21:49,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.88,Lakki-Marwat,CAPTURED,14.38,985.62,1,4,Saturday,8,0
253,2017-04-01 08:22:27,2017-04-01,08:22:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.20,Chishtian,CAPTURED,57.20,4942.80,1,4,Saturday,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924136,2017-06-30 21:37:27,2017-06-30,21:37:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.20,Lahore,CAPTURED,57.20,4702.80,30,6,Friday,21,4
924159,2017-06-30 21:39:24,2017-06-30,21:39:24,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Gujar-Khan,CAPTURED,28.75,1971.25,30,6,Friday,21,4
924233,2017-06-30 21:44:22,2017-06-30,21:44:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.40,Rawalpindi,CAPTURED,42.90,2957.10,30,6,Friday,21,4
924249,2017-06-30 21:45:04,2017-06-30,21:45:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924250,2017-06-30 21:45:07,2017-06-30,21:45:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924273,2017-06-30 21:46:15,2017-06-30,21:46:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924277,2017-06-30 21:46:27,2017-06-30,21:46:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1880.0,0.0,0.0,25.0,3.75,Kasur,CAPTURED,28.75,1851.25,30,6,Friday,21,4
924283,2017-06-30 21:46:44,2017-06-30,21:46:44,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924296,2017-06-30 21:47:15,2017-06-30,21:47:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Rawalpindi,CAPTURED,28.75,1971.25,30,6,Friday,21,4
924301,2017-06-30 21:47:32,2017-06-30,21:47:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924332,2017-06-30 21:49:11,2017-06-30,21:49:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,5.63,Burewala,CAPTURED,43.13,3956.87,30,6,Friday,21,4
924336,2017-06-30 21:49:27,2017-06-30,21:49:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.80,Gujranwala,CAPTURED,14.30,985.70,30,6,Friday,21,4
924349,2017-06-30 21:50:04,2017-06-30,21:50:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924402,2017-06-30 21:55:47,2017-06-30,21:55:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,3.60,Sialkot,CAPTURED,28.60,2351.40,30,6,Friday,21,4
924416,2017-06-30 21:52:59,2017-06-30,21:52:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924427,2017-06-30 21:53:39,2017-06-30,21:53:39,USSD,ROLE_AGENT_CHILD,OTC Receive Money,6000.0,0.0,0.0,50.0,7.50,Sukkur,CAPTURED,57.50,5942.50,30,6,Friday,21,4
924439,2017-06-30 21:56:32,2017-06-30,21:56:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21,4
924454,2017-06-30 21:57:05,2017-06-30,21:57:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.50,Lahore,CAPTURED,57.50,4702.50,30,6,Friday,21,4
924455,2017-06-30 21:57:13,2017-06-30,21:57:13,USSD,ROLE_AGENT_CHILD,OTC Receive Money,14550.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14435.00,30,6,Friday,21,4
924500,2017-06-30 22:00:40,2017-06-30,22:00:40,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4
924512,2017-06-30 22:01:30,2017-06-30,22:01:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.20,Wazirabad,CAPTURED,57.20,4702.80,30,6,Friday,22,4
924547,2017-06-30 22:03:45,2017-06-30,22:03:45,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Faisalabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4
924580,2017-06-30 22:06:00,2017-06-30,22:06:00,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22,4
924604,2017-06-30 22:07:56,2017-06-30,22:07:56,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Lahore,CAPTURED,57.50,4942.50,30,6,Friday,22,4
924605,2017-06-30 22:08:07,2017-06-30,22:08:07,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4
924607,2017-06-30 22:08:08,2017-06-30,22:08:08,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.40,Lahore,CAPTURED,42.90,2957.10,30,6,Friday,22,4
924613,2017-06-30 22:08:22,2017-06-30,22:08:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,22,4
924617,2017-06-30 22:08:44,2017-06-30,22:08:44,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4
924623,2017-06-30 22:09:05,2017-06-30,22:09:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,9650.0,0.0,0.0,75.0,9.00,Batkhela,CAPTURED,84.00,9566.00,30,6,Friday,22,4
924625,2017-06-30 22:09:19,2017-06-30,22:09:19,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22,4

## Sum apply on Total_deduction and Revnue Columns by using the TRANSACTION_TYPE column.

In [10]:
df.groupby('date')['AMOUNT','Total_deduction','Revnue'].sum().astype(int)

        AMOUNT  Total_deduction    Revnue
date
1     35022964           350565  34672398
2     32070835           318756  31752078
3     42618379           417139  42201239
4     39924234           393475  39530758
5     41198488           405119  40793368
6     43720851           431567  43289283
7     37034366           365899  36668466
8     27490316           271401  27218914
9     26490464           261705  26228758
10    28600948           283441  28317506
11    25739315           259691  25479623
12    25224308           250183  24974124
13    27363983           269611  27094371
14    22312393           224212  22088180
15    72073270           715789  71357480
16    35844389           361996  35482392
17    42791517           431446  42360070
18    38017535           381910  37635624
19    40086060           403995  39682064
20    42493088           423951  42069136
21    36724377           370558  36353818
22    31197845           309432  30888412
23    31859912           313186  31546725
24    35455872           351376  35104495
25    30729104           313507  30415596
26    13103621           132431  12971189
27    16473832           164041  16309790
28    10671390           108883  10562506
29    17577869           173610  17404258
30    21645018           206597  21438420

In [11]:
df1 = df.groupby('date')['Revnue'].sum().astype(int)

In [12]:
df2 = df.groupby('date')['Total_deduction'].sum().astype(int)

In [13]:
trace1 = go.Scatter(x=df1.index,
                   y=df1.values)


data = [trace1 ]

layout = Layout(title="Total AMOUNT & Revenue",
                xaxis=dict(title='Months'),
                yaxis=dict(title='AMOUNT (in Million)'),
                barmode='stack'  )



fig = dict(data=data , layout=layout)
py.iplot(fig)

In [15]:
data = [Bar(x=df1.index,
            y=df1.values,
            text=df1.values,
            textposition = 'auto',
            marker=dict(
        color='rgba(204,204,204,1)',)
    )]
layout = Layout(title="Total Revenue ",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

# this bar plot shows the peak and low Bill Payment details in the month, as given above 5 date in the months have higher transactions and 31st of the month have low transactions.beceause usally most bills sumbission deadlines are start of the month. "

In [16]:
df2 = df.groupby('date')['Total_deduction'].sum().astype(int)

In [17]:
trace = go.Scatter(x=df2.index,
                   y=df2.values,
                  )

data = [trace]

layout = Layout(title="Total AMOUNT & Revenue",
                xaxis=dict(title='Months'),
                yaxis=dict(title='AMOUNT (in Million)'),
                barmode='stack'  )
        


fig = dict(data=data , layout=layout)
py.iplot(fig)

In [18]:
data = [Bar(x=df2.index,
            y=df2.values,
            text=df2.values,
            textposition = 'auto',
            marker=dict(
        color='rgba(50, 171, 96, 0.7)',)
    )]
layout = Layout(title="Total Deductions ",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [27]:
Revnue = Bar(
            x=df1.index,
            y=df1.values,
            name='Revnue',
            text=df1.values,
            textposition = 'auto',
            marker=dict(
        color='rgba(50, 171, 96, 0.7)',)
           
        
    )


Deduction = Bar(
            x=df2.index,
            y=df2.values,
            name='Deduction',
            text=df2.values,
            textposition = 'auto',
            marker=dict(
        color='rgba(219, 64, 82, 1.0)', )
        
)

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in Millions)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

# this bar plot shows the peaks and low Revenue days in the month as given above, 5 date in the months have higher transactions and 30th of the month have low transactions.beceause usally most bills sumbission deadlines are start of the month.

## Now create a variable name Total_Deduction and load column Total_deduction in it. as you see below The Datframe which shows the  Total_deduction and revnue with respect to Transactions_type which is ' OTC Bill Payment' .  

























## we choose USSD as a Channel and  OTC Bill Payment as a Transactions type. All graphs based on these Categories. 

##  1-DOM (0-31)                  2- DOW (0-6)                      3.WOM (1-5)

In [29]:
Total_Deduction = df.groupby('date')['Total_deduction'].sum()

In [30]:
Total_Deduction.index , Total_Deduction.values

(Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
            dtype='int64', name='date'),
 array([ 350565.34000001,  318756.68000001,  417139.82000001,
         393475.55000001,  405119.18000001,  431567.91000001,
         365899.51000001,  271401.02      ,  261705.35      ,
         283441.56      ,  259691.8       ,  250183.77      ,
         269611.23      ,  224212.04      ,  715789.79000002,
         361996.91000001,  431446.98000001,  381910.03000001,
         403995.30000001,  423951.95000001,  370558.41000001,
         309432.48      ,  313186.07000001,  351376.87000001,
         313507.84      ,  132431.51      ,  164041.67      ,
         108883.09      ,  173610.31      ,  206597.11      ]))

In [31]:
data = [Bar(x=Total_Deduction.index,
            y=Total_Deduction.values,
            text=Total_Deduction.values,
            textposition = 'auto'
    )]
layout = Layout(title="6Months DateWise Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [16]:
 Revnue_Generated = df.groupby('date')['Revnue'].sum()

In [17]:
data = [Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            text=Revnue_Generated.values,
            textposition = 'auto'      
)]
layout = Layout(title="6Months DateWise Revnue Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [14]:
df.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64', name='date')

## Deduction and Revnue per day AMOUNT

In [18]:
Revnue_profit = Bar(
            x=df.index,
            y=Revnue_Generated.values,
            name='Revnue',
            marker=dict(color='#ffcdd2'),
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction_Taxes = Bar(
            x=df.index,
            y=Total_Deduction.values,
            name='Deduction',
            marker=dict(color='#A2D5F2'),
            text=Total_Deduction.values,
            textposition = 'auto'
    )

data = ([Revnue_profit, Deduction_Taxes])
layout = Layout(title="6Months DateWise Revnue and Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [16]:
Revnue = Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            name='Revnue',
            text=Revnue_Generated.values,
            textposition = 'auto'
    )

Deduction = Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            name='Deduction',
            text=Total_Deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in thousands)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

## 2-DOW  (0-6)

##  Load complete data in DataFrame.
##  Filter data on selecting 'USSD' as a Channel and  'OTC Bill Payment' .
##  Apply groupby query to show the sum of Columns on the base of 'WeekDay_Name'.

In [42]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [47]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE == 'OTC Send Money')])

In [7]:
df.groupby('WeekDay_Name')[['AMOUNT','Total_deduction','Revnue']].sum().astype(int)

                 AMOUNT  Total_deduction     Revnue
WeekDay_Name
Friday        133627499          1320568  132306930
Monday        141854823          1413362  140441460
Saturday      156072423          1546933  154525489
Sunday        104279478          1066142  103213335
Thursday      165348812          1635772  163713039
Tuesday       140160683          1385827  138774855
Wednesday     130212825          1296880  128915944

In [8]:
Total_Revnue = df.groupby('WeekDay_Name')['Revnue'].sum().astype(int)

In [9]:
data = [go.Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            text=Total_Revnue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Revenue in a Weekdays",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [10]:
Total_Revnue = df.groupby('WeekDay_Name')['Revnue'].sum().astype(int)

In [11]:
data = [Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            text=Total_Revnue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Revnue Generate in Weekdays",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [12]:
Total_deduction = df.groupby('WeekDay_Name')[['Total_deduction']].sum().astype(int)

In [13]:
data = [Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            text=Total_deduction.values,
            textposition = 'auto' ,
             marker=dict(
        color='rgba(222,45,38,0.8)',)
)]
layout = Layout(title="Total Deduction in Weekdays ",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [16]:
Revnue = Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            name='Revnue',
            text=Total_Revnue.values,
            textposition = 'auto',
            marker=dict(
        color='rgba(50, 171, 96, 0.7)',)
            
    )

Deduction = Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            name='Deduction',
            text=Total_deduction.values,
            textposition = 'auto'
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction in weekdays",
                xaxis=dict(title='Week Days '),
                yaxis=dict(title='Amount (in Billions)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

## Now i'll find no of weeks in a month .... and by which i can analysis on which week of the month have average revenue , peak and below average revenue.

## Here below generate a function of finding no of weeks in a month.A column create nam 'wom' to show that a date have in which week of the Month, Then sum all the weeks of the month and show a trend of which week have highest trend and whichone have low trend in the week of months.

In [63]:
import datetime
import calendar
import pandas as pd

def week_of_month(tgtdate):
    tgtdate = pd.to_datetime(tgtdate)

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
          ..
1365648    4
1365649    4
1365650    4
1365651    4
1365652    4
1365653    4
1365654    4
1365655    4
1365656    4
1365657    4
1365658    4
1365659    4
1365660    4
1365661    4
1365662    4
1365663    4
1365664    4
1365665    4
1365666    4
1365667    4
1365668    4
1365669    4
1365670    4
1365671    4
1365672    4
1365673    4
1365674    4
1365675    4
1365676    4
1365677    4
Name: wom, Length: 1365678, dtype: int64

In [ ]:
#len(df.new_date)
df['wom']=df.new_date.apply(week_of_month)

In [19]:
df = pd.read_csv('Complete_Months_Data.csv',  index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [20]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Send Money')])

In [21]:
df.groupby('wom')['AMOUNT','Revnue','Total_deduction'].sum().astype(int)

        AMOUNT     Revnue  Total_deduction
wom
0     75094582   71304638          3789943
1    253027605  240236062         12791542
2    221375379  210044708         11330670
3    290798584  275913679         14884904
4    102999740   97728614          5271125
5     24111587   22917647          1193939

In [22]:
Revenue_in_WOM = df.groupby('wom')['Revnue'].sum().astype(int)

In [23]:
data = [Bar(
            x=Revenue_in_WOM.index,
            y=Revenue_in_WOM.values,
            text=Revenue_in_WOM.values,
            textposition = 'auto' ,
            marker=dict(
        color='rgb(58,200,225)',)
)]
layout = Layout(title="Total Revenue In A Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [24]:
Total_deduction_in_WOM = df.groupby('wom')['Total_deduction'].sum().astype(int)

In [25]:
data = [Bar(
            x=Total_deduction_in_WOM.index,
            y=Total_deduction_in_WOM.values,
            text=Total_deduction_in_WOM.values,
            textposition = 'auto',
            marker=dict(
                color='rgb(158,202,225)',)
)]
layout = Layout(title="Total Deduction In Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [27]:
Revnue = Bar(
            x=Revenue_in_WOM.index,
            y=Revenue_in_WOM.values,
            name='Revnue',
            text=Revenue_in_WOM.values,
            textposition = 'auto',
            marker=dict(
                color='rgba(204,204,204,1)',)
            
    )

Deduction = Bar(
            x=Total_deduction_in_WOM.index,
            y=Total_deduction_in_WOM.values,
            name='Deduction',
            text=Total_deduction_in_WOM.values,
            textposition = 'auto',
            marker=dict(
                color='rgba(222,45,38,0.8)',)
            
    
    )

data = [Revnue, Deduction]

layout = go.Layout(title="Total Revnue and Deduction in weeks of Month",
                xaxis=dict(title='Weeks'),
                yaxis=dict(title='Amount (in Billions)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

In [76]:
df.describe().astype(int)

,AMOUNT,FED,FEE,COMMISION,WHT,Total_deduction,Revnue,date,Month,Hours,wom
count,177518,177518,177518,177518,177518,177518,177518,177518,177518,177518,177518
mean,5449,29,193,47,7,277,5172,14,5,14,2
std,4424,16,106,27,4,154,4273,8,0,3,1
min,2,6,51,12,0,72,-72,1,4,0,0
25%,2000,16,103,25,3,148,1851,7,5,11,1
50%,4000,24,159,37,5,223,3777,15,5,15,2
75%,8600,41,301,75,10,435,8164,21,6,18,3
max,15000,62,398,100,15,565,14450,30,6,23,5

In [43]:
df.column

Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
       'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
       'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
       'Hours', 'wom'],
      dtype='object')

In [46]:
#df[['DATE_AND_TIME','AMOUNT']].to_csv('../../Desktop/OTC_Bill_payment_all_data.csv')

In [56]:
Revenue_in_WOM = df.groupby('wom')['Revnue'].sum().astype(int)

In [57]:
Revenue_in_WOM.index , Revenue_in_WOM.values

(Int64Index([0, 1, 2, 3, 4, 5], dtype='int64', name='wom'),
 array([ 412035133, 1404660007, 1221628539, 1636060143, 1049821797,
         172427621]))

In [30]:
data = [Bar(
            x=Revenue_in_WOM.index,
            y=Revenue_in_WOM.values,
            text=Revenue_in_WOM.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total Revenue In A Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

NameError: name 'Revenue_in_WOM' is not defined

In [58]:
Total_deduction_in_WOM = df.groupby('wom')['Total_deduction'].sum().astype(int)

In [59]:
Total_deduction_in_WOM.index , Total_deduction_in_WOM.values

(Int64Index([0, 1, 2, 3, 4, 5], dtype='int64', name='wom'),
 array([ 6702742, 20945201, 19294516, 24500028, 12074713,  2015211]))

In [ ]:
data = [Bar(
            x=Total_deduction_in_WOM.index,
            y=Total_deduction_in_WOM.values,
            text=Total_deduction_in_WOM.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total Deduction In Weeks Of Month ",
                xaxis=dict(title='Week_No'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)