## PROJECT

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly
import matplotlib.pyplot as plt
plotly.offline.init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='Shahbaz011', api_key='Iyrl0NHekuQV7gR6e1eG')

In [2]:
%matplotlib inline

## Read Files

In [3]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [4]:
df.head()

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
0,2017-04-01 00:03:42,2017-04-01,00:03:42,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,1500.0,0.0,0.0,0.0,0.0,Karachi,CAPTURED,0.0,1500.0,1,4,Saturday,0
1,2017-04-01 00:04:20,2017-04-01,00:04:20,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,500.0,0.0,0.0,0.0,0.0,Karachi,CAPTURED,0.0,500.0,1,4,Saturday,0
2,2017-04-01 00:04:24,2017-04-01,00:04:24,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,3000.0,0.0,15.0,0.0,0.0,Lahore,CAPTURED,15.0,2985.0,1,4,Saturday,0
3,2017-04-01 00:05:25,2017-04-01,00:05:25,Internal,ROLE_CUSTOMER_L2,ATM Cash Withdrawal OnUs,15000.0,0.0,0.0,0.0,0.0,Karachi,CAPTURED,0.0,15000.0,1,4,Saturday,0
4,2017-04-01 00:05:30,2017-04-01,00:05:30,Internal,ROLE_CUSTOMER_L1,ATM Cash Withdrawal,17000.0,0.0,15.0,0.0,0.0,Lahore,CAPTURED,15.0,16985.0,1,4,Saturday,0






## This show the shape of the data ,Its shows that we have  17 Columns and 1350342 Rows in the Data Frame. and also shows the name of columns present in it.

In [5]:
df.shape , df.columns

((1365678, 19),
 Index(['DATE_AND_TIME', 'new_date', 'new_time', 'CHANNEL', 'AGENT_TYPE',
        'TRANSACTION_TYPE', 'AMOUNT', 'FED', 'FEE', 'COMMISION', 'WHT', 'CITY',
        'STATUS', 'Total_deduction', 'Revnue', 'date', 'Month', 'WeekDay_Name',
        'Hours'],
       dtype='object'))

In [10]:
df.groupby('TRANSACTION_TYPE')['AMOUNT'].sum().astype(int)

TRANSACTION_TYPE
ATM Cash Withdrawal          562687770
ATM Cash Withdrawal OnUs      56268000
CNIC To Wallet                  337145
IBFT Channel                 867157235
IBFT Host                     27225755
OTC Bill Payment            1501413484
OTC IBFT                     189597875
OTC Receive Money           1353411718
OTC Send Money              1382708200
Wallet To CNIC                41358475
Name: AMOUNT, dtype: int32

In [5]:
Channel = df.groupby('CHANNEL').size()

In [6]:
Transaction_type =  df.groupby('TRANSACTION_TYPE').size()

In [9]:
Channel.index , Channel.values

(Index(['Internal', 'UFONE_OTC_BVS', 'USSD', 'WEB (Internet)'], dtype='object', name='CHANNEL'),
 array([  94618,   85088, 1138390,   47582], dtype=int64))

In [10]:
fig = {
  "data": [
    {
      "values": Channel.values,
      "labels": Channel.index,
      "domain": {"x": [0, .48]},
      "name": "CHANNEL",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    }],  
      "layout": {
        "title":"Total CHANNELS ",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "CHANNEL",
                "x": 0.20,
                "y": 0.5
            },
           
        ]
      }
  
}
py.iplot(fig, filename='donut')

PlotlyRequestError: No message

In [24]:
Transaction_type.index , Transaction_type

(Index(['ATM Cash Withdrawal', 'ATM Cash Withdrawal OnUs', 'CNIC To Wallet',
        'IBFT Channel', 'IBFT Host', 'OTC Bill Payment', 'OTC IBFT',
        'OTC Receive Money', 'OTC Send Money', 'Wallet To CNIC'],
       dtype='object', name='TRANSACTION_TYPE'),
 array([ 75052,   7420,     43,  36192,  12146, 769498,  13985, 218887,
        223718,   8737], dtype=int64))

In [ ]:
fig = {
  "data": [
    {
      "values": fig = {
  "data": [
    {
      "values": Transaction_type.values,
      "labels": Transaction_type.index,
      "domain": {"x": [0, .48]},
      "name": "Transaction_type",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie"
    }],  
      "layout": {
        "title":"Total CHANNELS ",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "TRA_type",
                "x": 0.20,
                "y": 0.5
            },
           
        ]
      }
  
}
py.iplot(fig, filename='donut')

## Sort All the Data.
##  Ist of all we choose CHANNEL = 'USSD' and TRANSACTION_TYPE == 'OTC Receive Money'.

In [131]:
df = (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE== 'OTC Receive Money')])

## Sum apply on Total_deduction and Revnue Columns by using the TRANSACTION_TYPE column.

In [118]:
df

,DATE_AND_TIME,new_date,new_time,CHANNEL,AGENT_TYPE,TRANSACTION_TYPE,AMOUNT,FED,FEE,COMMISION,WHT,CITY,STATUS,Total_deduction,Revnue,date,Month,WeekDay_Name,Hours
37,2017-04-01 00:04:50,2017-04-01,00:04:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Karachi,CAPTURED,57.50,4942.50,1,4,Saturday,0
38,2017-04-01 00:05:10,2017-04-01,00:05:10,USSD,ROLE_AGENT_CHILD,OTC Receive Money,700.0,0.0,0.0,12.5,1.88,Hyderabad,CAPTURED,14.38,685.62,1,4,Saturday,0
63,2017-04-01 00:39:50,2017-04-01,00:39:50,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Karachi,CAPTURED,43.13,2956.87,1,4,Saturday,0
81,2017-04-01 01:22:48,2017-04-01,01:22:48,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14885.00,1,4,Saturday,1
120,2017-04-01 06:51:28,2017-04-01,06:51:28,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,5.63,Gujranwala,CAPTURED,43.13,3956.87,1,4,Saturday,6
158,2017-04-01 07:16:58,2017-04-01,07:16:58,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Jhang,CAPTURED,43.13,2956.87,1,4,Saturday,7
159,2017-04-01 07:17:21,2017-04-01,07:17:21,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.88,Bahawalnagar,CAPTURED,14.38,985.62,1,4,Saturday,7
166,2017-04-01 07:40:53,2017-04-01,07:40:53,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1500.0,0.0,0.0,25.0,3.75,Bannu,CAPTURED,28.75,1471.25,1,4,Saturday,7
167,2017-04-01 07:42:09,2017-04-01,07:42:09,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Kot-Addu,CAPTURED,28.75,1971.25,1,4,Saturday,7
168,2017-04-01 07:42:54,2017-04-01,07:42:54,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.80,Wazirabad,CAPTURED,14.30,985.70,1,4,Saturday,7
176,2017-04-01 07:59:22,2017-04-01,07:59:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Fort-Abbas,CAPTURED,57.50,4942.50,1,4,Saturday,7
185,2017-04-01 08:04:19,2017-04-01,08:04:19,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Kohat,CAPTURED,28.75,1971.25,1,4,Saturday,8
190,2017-04-01 08:05:52,2017-04-01,08:05:52,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Khurrianwala,CAPTURED,14.38,925.62,1,4,Saturday,8
194,2017-04-01 08:06:42,2017-04-01,08:06:42,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Vehari,CAPTURED,14.38,925.62,1,4,Saturday,8
199,2017-04-01 07:50:11,2017-04-01,07:50:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Peshawar,CAPTURED,43.13,2956.87,1,4,Saturday,7
206,2017-04-01 07:56:29,2017-04-01,07:56:29,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Lakki-Marwat,CAPTURED,43.13,2956.87,1,4,Saturday,7
208,2017-04-01 07:57:15,2017-04-01,07:57:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,3.75,Rajanpur,CAPTURED,28.75,2351.25,1,4,Saturday,7
210,2017-04-01 08:06:59,2017-04-01,08:06:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,500.0,0.0,0.0,12.5,1.88,Lahore,CAPTURED,14.38,485.62,1,4,Saturday,8
213,2017-04-01 08:07:57,2017-04-01,08:07:57,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2500.0,0.0,0.0,25.0,3.75,Jaranwala,CAPTURED,28.75,2471.25,1,4,Saturday,8
221,2017-04-01 08:10:07,2017-04-01,08:10:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.63,Kalat,CAPTURED,43.13,2956.87,1,4,Saturday,8
223,2017-04-01 08:10:34,2017-04-01,08:10:34,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.20,Peshawar,CAPTURED,57.20,4942.80,1,4,Saturday,8
235,2017-04-01 08:15:35,2017-04-01,08:15:35,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2820.0,0.0,0.0,37.5,5.63,Multan,CAPTURED,43.13,2776.87,1,4,Saturday,8
237,2017-04-01 08:17:18,2017-04-01,08:17:18,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,10.80,Shakrghar,CAPTURED,85.80,9914.20,1,4,Saturday,8
238,2017-04-01 08:17:30,2017-04-01,08:17:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,940.0,0.0,0.0,12.5,1.88,Moro,CAPTURED,14.38,925.62,1,4,Saturday,8
240,2017-04-01 08:18:47,2017-04-01,08:18:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,11.25,Karak,CAPTURED,86.25,9913.75,1,4,Saturday,8
243,2017-04-01 08:19:31,2017-04-01,08:19:31,USSD,ROLE_AGENT_CHILD,OTC Receive Money,11000.0,0.0,0.0,87.5,13.13,Sargodha,CAPTURED,100.63,10899.37,1,4,Saturday,8
245,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,12000.0,0.0,0.0,87.5,10.50,Bajour,CAPTURED,98.00,11902.00,1,4,Saturday,8
246,2017-04-01 08:21:04,2017-04-01,08:21:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,10000.0,0.0,0.0,75.0,11.25,Mandi-Bahauddin,CAPTURED,86.25,9913.75,1,4,Saturday,8
249,2017-04-01 08:21:49,2017-04-01,08:21:49,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.88,Lakki-Marwat,CAPTURED,14.38,985.62,1,4,Saturday,8
253,2017-04-01 08:22:27,2017-04-01,08:22:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.20,Chishtian,CAPTURED,57.20,4942.80,1,4,Saturday,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924136,2017-06-30 21:37:27,2017-06-30,21:37:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.20,Lahore,CAPTURED,57.20,4702.80,30,6,Friday,21
924159,2017-06-30 21:39:24,2017-06-30,21:39:24,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Gujar-Khan,CAPTURED,28.75,1971.25,30,6,Friday,21
924233,2017-06-30 21:44:22,2017-06-30,21:44:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.40,Rawalpindi,CAPTURED,42.90,2957.10,30,6,Friday,21
924249,2017-06-30 21:45:04,2017-06-30,21:45:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21
924250,2017-06-30 21:45:07,2017-06-30,21:45:07,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14885.00,30,6,Friday,21
924273,2017-06-30 21:46:15,2017-06-30,21:46:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21
924277,2017-06-30 21:46:27,2017-06-30,21:46:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1880.0,0.0,0.0,25.0,3.75,Kasur,CAPTURED,28.75,1851.25,30,6,Friday,21
924283,2017-06-30 21:46:44,2017-06-30,21:46:44,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21
924296,2017-06-30 21:47:15,2017-06-30,21:47:15,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2000.0,0.0,0.0,25.0,3.75,Rawalpindi,CAPTURED,28.75,1971.25,30,6,Friday,21
924301,2017-06-30 21:47:32,2017-06-30,21:47:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,21
924332,2017-06-30 21:49:11,2017-06-30,21:49:11,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4000.0,0.0,0.0,37.5,5.63,Burewala,CAPTURED,43.13,3956.87,30,6,Friday,21
924336,2017-06-30 21:49:27,2017-06-30,21:49:27,USSD,ROLE_AGENT_CHILD,OTC Receive Money,1000.0,0.0,0.0,12.5,1.80,Gujranwala,CAPTURED,14.30,985.70,30,6,Friday,21
924349,2017-06-30 21:50:04,2017-06-30,21:50:04,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21
924402,2017-06-30 21:55:47,2017-06-30,21:55:47,USSD,ROLE_AGENT_CHILD,OTC Receive Money,2380.0,0.0,0.0,25.0,3.60,Sialkot,CAPTURED,28.60,2351.40,30,6,Friday,21
924416,2017-06-30 21:52:59,2017-06-30,21:52:59,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21
924427,2017-06-30 21:53:39,2017-06-30,21:53:39,USSD,ROLE_AGENT_CHILD,OTC Receive Money,6000.0,0.0,0.0,50.0,7.50,Sukkur,CAPTURED,57.50,5942.50,30,6,Friday,21
924439,2017-06-30 21:56:32,2017-06-30,21:56:32,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Narowal,CAPTURED,115.00,14885.00,30,6,Friday,21
924454,2017-06-30 21:57:05,2017-06-30,21:57:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.50,Lahore,CAPTURED,57.50,4702.50,30,6,Friday,21
924455,2017-06-30 21:57:13,2017-06-30,21:57:13,USSD,ROLE_AGENT_CHILD,OTC Receive Money,14550.0,0.0,0.0,100.0,15.00,Lahore,CAPTURED,115.00,14435.00,30,6,Friday,21
924500,2017-06-30 22:00:40,2017-06-30,22:00:40,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22
924512,2017-06-30 22:01:30,2017-06-30,22:01:30,USSD,ROLE_AGENT_CHILD,OTC Receive Money,4760.0,0.0,0.0,50.0,7.20,Wazirabad,CAPTURED,57.20,4702.80,30,6,Friday,22
924547,2017-06-30 22:03:45,2017-06-30,22:03:45,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Faisalabad,CAPTURED,115.00,14885.00,30,6,Friday,22
924580,2017-06-30 22:06:00,2017-06-30,22:06:00,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Abbottabad,CAPTURED,115.00,14885.00,30,6,Friday,22
924604,2017-06-30 22:07:56,2017-06-30,22:07:56,USSD,ROLE_AGENT_CHILD,OTC Receive Money,5000.0,0.0,0.0,50.0,7.50,Lahore,CAPTURED,57.50,4942.50,30,6,Friday,22
924605,2017-06-30 22:08:07,2017-06-30,22:08:07,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22
924607,2017-06-30 22:08:08,2017-06-30,22:08:08,USSD,ROLE_AGENT_CHILD,OTC Receive Money,3000.0,0.0,0.0,37.5,5.40,Lahore,CAPTURED,42.90,2957.10,30,6,Friday,22
924613,2017-06-30 22:08:22,2017-06-30,22:08:22,USSD,ROLE_AGENT_CHILD,OTC Receive Money,15000.0,0.0,0.0,100.0,15.00,Chak-Jumra,CAPTURED,115.00,14885.00,30,6,Friday,22
924617,2017-06-30 22:08:44,2017-06-30,22:08:44,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22
924623,2017-06-30 22:09:05,2017-06-30,22:09:05,USSD,ROLE_AGENT_CHILD,OTC Receive Money,9650.0,0.0,0.0,75.0,9.00,Batkhela,CAPTURED,84.00,9566.00,30,6,Friday,22
924625,2017-06-30 22:09:19,2017-06-30,22:09:19,USSD,ROLE_AGENT_PARENT,OTC Receive Money,15000.0,0.0,0.0,100.0,12.00,Kalabagh,CAPTURED,112.00,14888.00,30,6,Friday,22

In [132]:
df = df.groupby('date')['Total_deduction','Revnue','AMOUNT'].sum().astype(int)

## Now create a variable name Total_Deduction and load column Total_deduction in it. as you see below The Datframe which shows the  Total_deduction and revnue with respect to Transactions_type which is ' OTC Send Money	' .  












## we choose USSD as a Channel and  OTC Bill Payment as a Transactions type. All graphs based on these Categories. 

##  1-DOM (0-31)                  2- DOW (0-6)                      3.WOM (1-5)

In [134]:
Total_Deduction = df.groupby('date')['Total_deduction'].sum().astype(int)

In [155]:
data = [go.Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            text=Total_Deduction.values,
            textposition = 'auto',
            marker=dict(color='#BFAFB2 '),

            
    )]
layout = Layout(title="6Months DateWise Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))

fig = Figure(data=data , layout = layout)
py.iplot(fig)

In [148]:
Revenue_Generated = df.groupby('date')['Revnue'].sum()

In [154]:
data = [go.Bar(
            x=Revenue_Generated.index,
            y=Revenue_Generated.values,
            text=Revenue_Generated.values,
            textposition = 'auto',
             marker=dict(color='#C39953'),
)]
layout = Layout(title="6Months DateWise Revenue Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [157]:
Revenue_profit = Bar(
            x=Revenue_Generated.index,
            y=Revenue_Generated.values,
            name='Revenue',
            marker=dict(color='#4B3621'),
            text=Revenue_Generated.values,
            textposition = 'auto'
    )

Deduction_Taxes = Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            name='Deduction',
            marker=dict(color='#A2D5F2'),
            text=Total_Deduction.values,
            textposition = 'auto'
    )

data = ([Revnue_profit, Deduction_Taxes])
layout = Layout(title="6Months Revnue and Deduction Amount",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)

py.iplot(fig)

In [158]:
Total_Revnue_Deduction = df.groupby('date')['AMOUNT'].sum()

In [163]:
Revnue = Bar(
            x=Revnue_Generated.index,
            y=Revnue_Generated.values,
            name='Revnue',
            text=Revnue_Generated.values,
            textposition = 'auto',
            marker = dict(color='#D2691E')
    )

Deduction = Bar(
            x=Total_Deduction.index,
            y=Total_Deduction.values,
            name='Deduction',
            text=Total_Deduction.values,
            textposition = 'auto',
             marker=dict(color='#68A0B0')
    
    )

data = [Revnue, Deduction]

layout = Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='Salary (in thousands)'),
               
                barmode='stack'  )


fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [140]:
data = [Bar(
            x=Total_Revnue_Deduction.index,
            y=Total_Revnue_Deduction.values,
            text=Total_Revnue_Deduction.values,
            textposition = 'auto'
)]
layout = Layout(title="6Months DateWise Total AMOUNT",
                xaxis=dict(title='Dates'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

## 2-DOW  (0-6)

##  Load complete data in DataFrame.
##  Filter data on selecting 'USSD' as a Channel and  'OTC Bill Payment' .
##  Apply groupby query to show the sum of Columns on the base of 'WeekDay_Name'.

In [174]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [32]:
df.groupby('TRANSACTION_TYPE').size()

TRANSACTION_TYPE
ATM Cash Withdrawal          75052
ATM Cash Withdrawal OnUs      7420
CNIC To Wallet                  43
IBFT Channel                 36192
IBFT Host                    12146
OTC Bill Payment            769498
OTC IBFT                     13985
OTC Receive Money           218887
OTC Send Money              223718
Wallet To CNIC                8737
dtype: int64

In [175]:
df= (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE == 'OTC Receive Money')])

In [176]:
df.groupby('WeekDay_Name')[['AMOUNT','Total_deduction','Revnue']].sum().astype(int)

                 AMOUNT  Total_deduction     Revnue
WeekDay_Name
Friday        133627499          1320568  132306930
Monday        141854823          1413362  140441460
Saturday      156072423          1546933  154525489
Sunday        104279478          1066142  103213335
Thursday      165348812          1635772  163713039
Tuesday       140160683          1385827  138774855
Wednesday     130212825          1296880  128915944

In [36]:
Total_AMOUNT = df.groupby('WeekDay_Name')['AMOUNT'].sum().astype(int)

In [168]:
data = [go.Bar(
            x=Total_AMOUNT.index,
            y=Total_AMOUNT.values,
            text=Total_AMOUNT.values,
            textposition = 'auto' ,
            marker=dict(
        color=['#8C92AC', 'rgba(222,45,38,0.8)',
               '#DEB887', '#848482',
               '#F7E98E','#40826D','#FF3800']),
)]
layout = Layout(title="Total Amount of 'OTC Receive Money' Transactions",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in BILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [178]:
Total_Revnue = df.groupby('WeekDay_Name')['Revnue'].sum().astype(int)

In [179]:
data = [go.Bar(
            x=Total_Revnue.index,
            y=Total_Revnue.values,
            text=Total_Revnue.values,
            textposition = 'auto'        
)]
layout = Layout(title="Total Revnue AMOUNT",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [180]:
Total_deduction = df.groupby('WeekDay_Name')[['Total_deduction']].sum().astype(int)

In [181]:
data = [go.Bar(
            x=Total_deduction.index,
            y=Total_deduction.values,
            text=Total_deduction.values,
            textposition = 'auto'          
)]
layout = Layout(title="Total deduction AMOUNT ",
                xaxis=dict(title='WeekDays'),
                yaxis=dict(title='AMOUNT (in MILLION)'))
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [184]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=Total_Revnue.index,
    y=Total_Revnue.values,
    name='Revnue',
    text=Total_Revnue.values,
    textposition = 'auto',
    marker = dict(color ='#8F9779')
)
trace2 = go.Bar(
    x=Total_deduction.index,
    y=Total_deduction.values,
    name='Deduction',
    text=Total_deduction.values,
    textposition = 'auto',
    marker = dict(color='#841B2D')
)

data = [trace1, trace2]

layout = Layout(title="Total Revnue and Deduction",
                xaxis=dict(title='Weekdays'),
                yaxis=dict(title='AMOUNT (in thousands)'),
                barmode='stack'  )


fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

In [185]:
df = pd.read_csv('Complete_Months_Data.csv' , encoding='latin1' , index_col=0)

D:\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [186]:
df= (df[(df.CHANNEL == 'USSD') & (df.TRANSACTION_TYPE == 'OTC Receive Money')])

In [187]:
df.groupby('Month')[['AMOUNT' , 'Total_deduction','Revnue']].sum().astype(int)

          AMOUNT  Total_deduction     Revnue
Month
4      202128655          2029431  200099223
5      367707834          3681928  364025905
6      401720054          3954127  397765926

In [188]:
Month_Amount = df.groupby('Month')['AMOUNT' ].sum().astype(int)

In [189]:
Month_Amount.index , Month_Amount.values

(Int64Index([4, 5, 6], dtype='int64', name='Month'),
 array([202128655, 367707834, 401720054]))

In [192]:
trace = go.Scatter(x=Month_Amount.index,
                   y=Month_Amount.values)

data = [trace]

layout = Layout(title="Total AMOUNT",
                xaxis=dict(title='Months'),
                yaxis=dict(title='AMOUNT (in Million)'),
                barmode='stack'  )



fig = dict(data=data , layout=layout)
py.iplot(fig)

In [206]:
New_date = df.groupby('new_date')['AMOUNT'].sum().astype(int)

In [207]:
New_date.index , New_date.values

(Index(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
        '2017-04-06', '2017-04-07', '2017-04-15', '2017-04-16', '2017-04-17',
        '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-05-01',
        '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-06',
        '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
        '2017-05-12', '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
        '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20', '2017-05-21',
        '2017-05-22', '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26',
        '2017-05-27', '2017-05-28', '2017-05-29', '2017-05-30', '2017-06-01',
        '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05', '2017-06-06',
        '2017-06-07', '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11',
        '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15', '2017-06-16',
        '2017-06-17', '2017-06-18', '2017-06-19', '2017-06-20', '2017-06-21',
        '2017-06-22', '2017-06-23', '2017-06-24', '2017-06-25', '2017-06-26',
        '2017-06-27', '2017-06-28', '2017-06-29', '2017-06-30'],
       dtype='object', name='new_date'),
 array([17174024, 10023645, 14882434, 16442703, 15802685, 16825631,
        12813541, 16670360, 10222809, 14687215, 15542209, 14878876,
        14735434, 11427089,  7949490, 11325457, 12487190, 12758986,
        11980290, 12775063,  9128220, 12934049, 13234847, 13514763,
        13806625, 10336398, 12829375,  7960775, 24226020, 13202850,
        12664833, 12685440, 10900198, 13368814,  9020335, 12016946,
        12196708, 12504002, 13282621, 11692661, 14528508,  8032090,
        11137300, 13226980,  9899450, 10721733, 15248755, 10722545,
        13415513, 14120157, 15092605, 14556267, 13255617, 15086185,
        11932690, 14887910, 14534608, 14351618, 31176890, 12418730,
        15439469,  9789886, 14306986, 14388840, 16276953, 19180899,
        19663204, 22951870, 17446483,  1410960,  1945324,  2639300,
         6440569,  8418038]))

In [211]:
data = [go.Scatter(
          x=New_date.index,
          y=New_date.values)]
layout = Layout(title="Total AMOUNT IN ALL MONTHS ",
                xaxis=dict(title='MONTH'),
                yaxis=dict(title='AMOUNT (in MILLION)'),
                barmode='stack'  )

fig  = Figure(data = data ,layout = layout)
py.iplot(fig)

In [203]:
Rev = df.groupby('new_date')['Revnue'].sum().astype(int)

In [204]:
Ded = df.groupby('new_date')['Total_deduction'].sum().astype(int)

In [213]:
data = [go.Scatter(
          x=Rev.index,
          y=Rev.values)]
layout = Layout(title="Total_Revenue IN ALL MONTHS ",
                xaxis=dict(title='MONTH'),
                yaxis=dict(title='AMOUNT (in MILLION)'),
                barmode='stack'  )

fig  = Figure(data = data ,layout = layout)
py.iplot(fig)

In [214]:
data = [go.Scatter(
          x=Ded.index,
          y=Ded.values)]

layout = Layout(title="Total_Deduction IN ALL MONTHS ",
                xaxis=dict(title='MONTH'),
                yaxis=dict(title='AMOUNT (in MILLION)'),
                barmode='stack'  )

fig  = Figure(data = data ,layout = layout)
py.iplot(fig)

In [221]:
df["new_date"] = pd.to_datetime(df["new_date"])

In [224]:
df['date_minus_time'] = df["new_date"].apply( lambda df : 
new_date.datetime(year=df.year, month=df.month, day=df.day))
df.set_index(df["date_minus_time"],inplace=True)

NameError: name 'datetime' is not defined

In [226]:
df.new_date

37       2017-04-01
38       2017-04-01
63       2017-04-01
81       2017-04-01
120      2017-04-01
158      2017-04-01
159      2017-04-01
166      2017-04-01
167      2017-04-01
168      2017-04-01
176      2017-04-01
185      2017-04-01
190      2017-04-01
194      2017-04-01
199      2017-04-01
206      2017-04-01
208      2017-04-01
210      2017-04-01
213      2017-04-01
221      2017-04-01
223      2017-04-01
235      2017-04-01
237      2017-04-01
238      2017-04-01
240      2017-04-01
243      2017-04-01
245      2017-04-01
246      2017-04-01
249      2017-04-01
253      2017-04-01
            ...
924136   2017-06-30
924159   2017-06-30
924233   2017-06-30
924249   2017-06-30
924250   2017-06-30
924273   2017-06-30
924277   2017-06-30
924283   2017-06-30
924296   2017-06-30
924301   2017-06-30
924332   2017-06-30
924336   2017-06-30
924349   2017-06-30
924402   2017-06-30
924416   2017-06-30
924427   2017-06-30
924439   2017-06-30
924454   2017-06-30
924455   2017-06-30
924500   2017-06-30
924512   2017-06-30
924547   2017-06-30
924580   2017-06-30
924604   2017-06-30
924605   2017-06-30
924607   2017-06-30
924613   2017-06-30
924617   2017-06-30
924623   2017-06-30
924625   2017-06-30
Name: new_date, Length: 177645, dtype: datetime64[ns]